.share {
    width: 100%;
    background-color: var(--white);
    height: 10.625rem;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    -o-box-shadow: var(--box-shadow);
    padding: .3rem .2rem;
    border: 1px solid var(--preference);

}
.share .wrapper {
    padding: .313rem;
}
.share .top {
    display: flex;
    align-items: center;
}
.share input {
    width: 84%;
    /* background: var(--light); */
    color: var(--gray);
    padding: .6rem 1rem;
    margin-left: .4rem;
    font-size: .9rem;
    overflow: hidden;
    height: 4vh;
    border-radius: var(--border-radius);
}
.share:focus {
    outline: none;
}
.share hr {
    border-bottom: .1rem solid var(--preference);
    width: 80%;
    align-items: center;
    display: flex;
    margin-left: 3rem;
    margin-bottom: 1rem;
    margin-top: .5rem;
    color: var(--preference);
}
.share .bottom {
    display: flex;
    justify-content: space-around;
}
.share .options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.share .options .option {
    cursor: pointer;
    margin-left: .2rem;
}
.share .options .option .icon {
    margin-bottom: -.33rem;
    margin-right: .2rem;
}