.sidebar {
    flex: 3;
    align-items: center;
    height: calc(80vh - 2.7rem);
    font-size: 1.2rem;
    overflow-y: scroll;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    position: sticky;
    z-index: 1;
    top: 4.6rem;
}

/* .sidebar::-webkit-scrollbar{
    width: 1.4rem;
}
.sidebar::-webkit-scrollbar-track{
    background: var(--gray);
}
.sidebar::-webkit-scrollbar-thumb{
    background: var(--preference);
} */
.sidebar-wrapper {
    padding: 1.3rem;
}
.sidebar-list {
    padding: .4rem; margin: 0;
    list-style: none;
}
.sidebar-list-item {
    display: flex;
    align-items: center;
    padding: .2rem;
    cursor: pointer;
    margin-bottom: .7rem;
}
.sidebar-list-item .sidebar-icon {
    margin-right: .7rem;
}
.sidebar hr {
    margin: 1rem 0;
    color: black;
    width: 17vw;
    height: 1px;
    background-color: black;
}
