.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    /* background: #F0F2F5; */
}

.login .wrapper {
    width: 70%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
    border-radius: var(--border-radius);
}

.login .loginLeft,
.login .loginRight {
    flex: 1;
}

.login .loginLeft,
.login .loginRight,
.login .loginBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login .loginLogo {
    font-size: 3.125rem;
    font-weight: 800;
    color: var(--preference);
}

.login .loginDescription {
    font-size: 1.5rem;
}
.login .loginRight {
    margin-top: .9rem;
    padding-top: 3.125rem;
    background: white;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
}
.login .loginRight img {
    position: absolute;
   width: 5rem; height: 5rem;
   margin-left: 35%;
   margin-top: -6rem;
   z-index: 999;
}
.login .loginBox {
    position: relative;
    height: 18.75rem;
    min-width: 17rem;
    padding: 2rem 1.25rem;
    padding-top: 3rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--card-border-radius);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.58);

}

.login .loginInput {
    height: 3.125rem;
    border: solid .1rem var(--gray);
    font-size: 1rem;
    border-radius: .625rem;
    padding-left: 1.325rem;
}

.login .loginInput:focus {
    outline: none;
}
.login .loginButton {
    height: 3.125rem;
    background-color: var(--preference);
    border-radius: .3rem;
    color: var(--white);
    cursor: pointer;
}
.login .loginForgot {
    color: var(--preference);
    text-align: center;
    cursor: pointer;
}
.login .loginForgot:hover {
    text-decoration: underline;
}
.login .loginRegisterButton {
    min-height: 3.125rem;
    max-height: 4.5rem;
    width: 50%;
    max-width: 15rem;
    border-radius: .3rem;
    cursor: pointer;
    align-self: center;
}

@media screen and (max-width:640px) {
    .login {
        text-align: center;
        background: none;
    }
    .login .loginLogo {
        font-size: 2.5rem;
    }
    .login .loginDescription {
        font-size: 1.5rem;
    }
    .login .loginRight {
        border-top-left-radius: 13rem;
        border-top-right-radius: 13rem;    
    }
    .login .loginBox {
        margin-left: 0px;
        margin-top: 1rem;
        background: var(--white);

    }
}