@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,400&display=swap');

:root {
    --Hue: 280;
    --Saturation: 49%;
    --Luminosity: 44%;

    --BackgroundHue: 252;
    --BackgroundSaturation: 30%;
    --BackgroundLuminosity: 92%;

    --white: hsl(252, 30%, 100%);
    --light: hsl(var(--BackgroundHue), var(--BackgroundSaturation), var(--BackgroundLuminosity));
    --primary: hsl(252, 75%, 60%);
    --info: hsl(280, 49%, 42%);
    --secondary: hsl(252, 60%, 65%);
    --danger: hsl(352, 81%, 50%);
    --success: hsl(120, 95%, 40%);
    --gray: hsl(252, 15%, 65%);
    --dark: hsl(252, 30%, 17%);
    --black: hsl(252, 30%, 10%);
    --black-50: rgba(0,0,0,0.5);
    --preference: hsl(var(--Hue), var(--Saturation), var(--Luminosity));
    --preference-40: hsla(48, 88%, 48%, 0.4);
    --preference-50: hsla(49, 100%, 27%, 0.5);
    --preference-60: hsl(49, 85%, 30%);
    --gradient-or: linear-gradient(to left, #cfb645, hsl(49, 100%, 27%), #cfb645, #cfb645, #cfb645, hsl(49, 100%, 30%));
    --theme:rgb(255, 255, 255, .5);


    --sticky-top-left: 5.7rem;
    --sticky-top-right: 5.7rem;

    --btn-padding: .6rem 1rem;
    --border-radius: 2rem;
    --card-padding: .7rem .9rem;
    --card-border-radius: 1rem;
    --search-padding: .4rem 1rem;
    --box-shadow: 0 0 .4rem rgba(0, 0, 0, 0.58);
     
}
*, 
::before,
::after {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    background-origin: border-box;
}
::placeholder {
    font-size: 1rem;
}
/* GENERAL STYLE */
body {
    font-family: 'Poppins', sans-serif;
    background: var(--light);
    color: var(--dark);
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.profile_picture, .logoImg {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1/1 ;
}
.friend_picture {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1/1 ;
    margin-right: .3rem;
    margin-bottom: .3rem;
}
.logo {
    display: flex;
}
img {
    width: 100%;
    display: block;
}

.btn {
    display: inline-block;
    padding: var(--btn-padding);
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: .5rem;
    transition: all .3s ease;
    color: var(--white);
}

.btn:hover {
    opacity: .8;
    /* color: var(--white); */
}
.btn-preference {
    background: var(--preference);
    color: white;
}
.btn-preference-50 {
    background: var(--preference-50);
    color: white;
}
.btn-primary {
    background: var(--primary);
    color: white;
}
.btn-secondary {
    background: var(--secondary);
    color: var(--white);
}
.btn-danger {
    background: var(--danger);
    color: var(--white);
}
.btn-info {
    background: var(--info);
    color: var(--white);
}
.btn-success {
    background: var(--success);
    color: var(--white);
}
.btn-dark{
    background: var(--dark);
    color: var(--white);
}
.btn-light {
    background: var(--light);
}
.btn-gray {
    background: var(--gray);
    color: var(--white);
}
.btn-black {
    background: var(--black);
    color: var(--white);
}
.btn-default {
    color: var(--black);
}
.text_bold {
    font-weight: 600;
    font-style: normal;
}
.text_muted {
    color: var(--gray);
}

html {
    font-size: 80%;
}
@media screen and (max-width: 992px) {
    /* html {
        font-size: 79%;
    } */
    .container {
        width: 100%;  
    }
    /* .container .left {
        width: 5rem;
        margin-right: .3rem;
    } */
}


@media screen and (max-width: 768px) {
    html {
        font-size: 75.3%;
    }
    /* .container .left {
        width: 4.8rem;
        margin-right: .3rem;
        margin-top: 10rem;
    } */
}