.rightbar {
    flex: 3;
    background: var(--white);
    padding: var(--card-padding);
    position: sticky;
    top: 4.5rem;
}
.rightbar .wrapper {
    padding: 1.25rem 1.25rem 0 0;
}

.rightbar .wrapper .container {
    display: flex;
}

.rightbar .wrapper .bithdayImg {
    width: 7vw; 
    height: 7vh; 
    margin-right: .625rem;
    border-radius: 7%;
    margin-bottom: .5rem;
}
.rightbar .wrapper .bithdayText {
    text-align: center;
}
.rightbar .wrapper .rightbarTitle {
    margin-botttom: 4rem;
    font-size: 1.2rem;
    padding: .7rem;
    text-align: left;
}

.rightbar .rightbarFriends {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
    grid-gap: 1rem;
    box-shadow: var(--box-shadow);
    padding: .1rem;
}
.rightbar .rightbarFriend {
    /* width: 100px; */
    /* border-radius: var(--card-border-radius); */
    border-radius: .2rem;
}
.rightbar .rightbarFriend img {
    border-radius: var(--card-border-radius);
    object-fit: cover;
}
.rightbar .rightbarFriend .username {
    text-align: right;
    margin-left: .7rem;
}
.rightbar .username {
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}
.rightbar .username:hover {
    text-decoration: underline;
}