.rightbar {
    flex: 3;
    background: var(--white);
    padding: var(--card-padding);
    position: sticky;
    top: 4.5rem;
}
.rightbar .wrapper {
    padding: 1.25rem 1.25rem 0 0;
}

.rightbar .wrapper .container {
    display: flex;
}

.rightbar .wrapper .bithdayImg {
    width: 7vw; 
    height: 7vh; 
    margin-right: .625rem;
    border-radius: 7%;
    margin-bottom: .5rem;
}
.rightbar .wrapper .bithdayText {
    text-align: center;
}
.rightbar .wrapper .rightbarTitle {
    margin-botttom: 4rem;
    font-size: 1.2rem;
    padding: .7rem;
    text-align: left;
}

.rightbar .username {
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}
.rightbar .username:hover {
    text-decoration: underline;
}